<template>
  <main class="center-all-content">
    <Form
      title="Reset password"
      submitText="Send Reset Email"
      :onSubmit="resetPassword"
      :alternateLinkText="alternateLinkText"
      :alternateLink="alternateLink"
      :stopLoadingAfterSuccess="true"
    >
      <template slot="fields">
        <div class="input-wrapper">
          <img src="/images/icons/email.svg" alt="Email" />
          <input
            type="email"
            name="email"
            placeholder="Your email"
            v-model="email"
          />
        </div>
      </template>
      <template slot="below-button">
        <p v-if="success">Success. Please check your inbox.</p>
      </template>
    </Form>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

import Form from "~/components/Form.vue";

@Component({ components: { Form } })
export default class extends Vue {
  email!: string;
  alternateLinkText!: string;
  alternateLink!: string;

  success: boolean = false;

  async asyncData({ store }) {
    if (store.state.auth.user) {
      return {
        email: store.state.auth.user.email,
        alternateLinkText: "Your Profile",
        alternateLink: "/profile"
      };
    }

    return {
      email: "",
      alternateLinkText: "Remember your password? Login",
      alternateLink: "/login"
    };
  }

  async resetPassword() {
    return new Promise((resolve, reject) => {
      if (!this.email) return reject(["Please enter an email."]);
      fetch(`${process.env.apiHost}/auth/reset-password`, {
        method: "PUT",
        mode: "cors",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ email: this.email })
      })
        .then(response => {
          if (response.status === 200) {
            this.email = "";
            this.success = true;
            resolve(null);
          } else {
            this.success = false;
            reject(["User with email does not exist."]);
          }
        })
        .catch(error => {
          this.success = false;
          reject(["An error occurred."]);
        });
    });
  }
}
</script>

<style scoped lang="scss">
p {
  text-align: center;
  margin-top: 16px;
  color: $blue-1;
  font-weight: bold;
}
</style>
