<template>
  <main class="center-all-content">
    <Form
      title="Enter a new password"
      submitText="Reset"
      :onSubmit="resetPassword"
      :alternateLinkText="alternateLinkText"
      :alternateLink="alternateLink"
      :stopLoadingAfterSuccess="true"
    >
      <template slot="fields">
        <div class="input-wrapper">
          <img src="/images/icons/password.svg" alt="Password" />
          <input
            type="password"
            name="password"
            placeholder="Password"
            ref="password1"
          />
        </div>
        <div class="input-wrapper">
          <img
            src="/images/icons/password.svg"
            alt="Password"
            ref="password2"
          />
          <input
            type="password"
            name="password confirmation"
            placeholder="Re-enter Password"
            ref="password2"
          />
        </div>
      </template>
      <template slot="below-button">
        <nuxt-link v-if="success && !isAuth" to="/login"
          >Success. Login here</nuxt-link
        >
        <nuxt-link v-else-if="success && isAuth" to="/profile"
          >Success. Go to Profile</nuxt-link
        >
      </template>
    </Form>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

import Form from "~/components/Form.vue";

@Component({ components: { Form } })
export default class extends Vue {
  alternateLinkText!: string;
  alternateLink!: string;

  isAuth!: boolean;
  success: boolean = false;

  async asyncData({ store }) {
    if (store.state.auth.user) {
      return {
        isAuth: true,
        email: store.state.auth.user.email,
        alternateLinkText: "Your Profile",
        alternateLink: "/profile"
      };
    }

    return {
      isAuth: false,
      email: "",
      alternateLinkText: "Remember your password? Login",
      alternateLink: "/login"
    };
  }

  async resetPassword() {
    const refs = this.$refs as any;
    return new Promise((resolve, reject) => {
      if (!refs.password1.value) return reject(["Please enter a password."]);
      fetch(
        `${process.env.apiHost}/auth/reset-password/${this.$route.params.token}`,
        {
          method: "PUT",
          mode: "cors",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            password1: refs.password1.value,
            password2: refs.password2.value
          })
        }
      )
        .then(response => {
          if (response.status === 200) {
            this.success = true;
            return resolve(response);
          } else {
            return response.json();
          }
        })
        .then(responseJson => {
          return reject(responseJson);
        })
        .catch(() => reject(["An error occurred."]));
    });
  }
}
</script>

<style scoped lang="scss">
a {
  font-size: 1.25rem;
  color: black;
  margin-top: 16px;
  font-weight: bold;
  text-align: center;
  color: $blue-1;
}
</style>
