<template>
  <div :style="`${margin ? `margin:${margin};` : ''}`">
    <button
      :aria-label="buttonLabel"
      @click="deleteConfirmationNumber--"
      :style="
        `${width ? `width:${width};` : ''}${height ? `height:${height};` : ''}`
      "
      :class="isLoading ? 'loading' : ''"
    >
      <slot />
    </button>
    <button
      :class="
        deleteConfirmationNumber < baseDeleteConfirmationNumber
          ? 'enable-confirmation'
          : ''
      "
      @click="checkConfirmation"
    >
      {{ confirmText }} {{ deleteConfirmationNumber }}
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

@Component
export default class extends Vue {
  @Prop({ required: true, type: Function }) onConfirm;
  @Prop({ required: true, type: String }) buttonLabel;
  @Prop({ required: false, type: String }) width;
  @Prop({ required: false, type: String }) height;
  @Prop({ required: true, type: String }) confirmText;
  @Prop({ required: false, type: String }) margin;
  @Prop({ required: false, type: Boolean }) isLoading;

  baseDeleteConfirmationNumber: number = 6;
  deleteConfirmationNumber: number = this.baseDeleteConfirmationNumber;

  async checkConfirmation() {
    if (
      this.deleteConfirmationNumber === this.baseDeleteConfirmationNumber ||
      this.isLoading
    )
      return;
    this.deleteConfirmationNumber--;
    if (this.deleteConfirmationNumber <= 0) {
      this.onConfirm();
      this.deleteConfirmationNumber = this.baseDeleteConfirmationNumber;
    }
  }
}
</script>

<style scoped lang="scss">
div {
  position: relative;
  width: fit-content;
}
button {
  width: fit-content;
  height: fit-content;
  min-height: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 18px;
  }
  &:first-child {
    border-radius: 4px;
    &,
    ~ button {
      background-color: $red-1;
    }
    ~ button {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      opacity: 0;
      pointer-events: none;
      z-index: 99;
      &.enable-confirmation {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }
}
</style>
