<template>
  <section>
    <h1>{{ title }}</h1>
    <form @submit.prevent>
      <slot name="fields" />
      <ul v-if="errorMessages.length">
        <li v-for="error in errorMessages" :key="error">
          {{ error }}
        </li>
      </ul>
      <button @click="submit" :class="isLoading ? 'loading' : ''">
        {{ submitText }}
      </button>
      <slot name="below-button" />
    </form>
    <nuxt-link :to="alternateLink" class="alternate-link">{{
      alternateLinkText
    }}</nuxt-link>
    <slot name="after" />
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

@Component
export default class extends Vue {
  @Prop({ required: true, type: String }) title;
  @Prop({ required: true, type: String }) submitText;
  @Prop({ required: true, type: Function }) onSubmit!: () => Promise<any>;
  @Prop({ required: true, type: String }) alternateLink;
  @Prop({ required: true, type: String }) alternateLinkText;
  @Prop({ required: false, type: Boolean, default: false })
  stopLoadingAfterSuccess;
  errorMessages: Array<string> = [];
  isLoading: boolean = false;

  async submit() {
    if (this.isLoading) return;
    this.isLoading = true;

    this.errorMessages = [];

    this.onSubmit()
      .then(() => {
        if (this.stopLoadingAfterSuccess) this.isLoading = false;
      })
      .catch(responseJson => {
        this.errorMessages = responseJson;
        this.isLoading = false;
      });
  }
}
</script>

<style scoped lang="scss">
$input-image-width: 24px;
$input-image-margin: 12px;
section {
  width: 100%;
  max-width: 360px;
  margin: 0 4.18%;
  padding: 100px 0 4.18% 0;
}
h1 {
  text-align: center;
  margin-bottom: 12px;
  color: white;
  font-weight: bold;
}
form {
  padding: 48px;
}
.alternate-link {
  padding: 16px 48px;
  margin: 36px 0;
  text-decoration: none;
  color: black;
  font-size: 1.15rem;
  font-weight: bold;
  text-align: center;
}
form,
.alternate-link {
  background-color: white;
}
form,
.alternate-link,
button,
input {
  border-radius: 4px;
}
section,
form {
  display: flex;
  flex-flow: column;
}
button {
  width: 100%;
  height: 45px;
  font-size: 1.15rem;
}
.input-wrapper {
  position: relative;
  margin-bottom: 16px;
  > img {
    width: $input-image-width;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $input-image-margin;
    margin: auto auto auto 0;
  }
}
input {
  padding: 12px 12px 12px $input-image-margin * 2 + $input-image-width;
}
ul {
  border-left: 2px solid $red-1;
  margin-bottom: 16px;
}
li {
  color: $red-1;
  font-size: 1.25rem;
  &:not(:last-of-type) {
    margin-bottom: 0.5em;
  }
}
</style>
