<template>
  <div class="browse-grid">
    <template v-if="categories">
      <GridViewItem
        v-for="(category, index) in categories"
        :key="category.title"
        :to="category.url"
        :style="`background-image: url(${apiHost + category.imageUrl});`"
        :class="isLargePreview(index) ? 'large' : 'small'"
        :title="getFilteredTitle(category.title)"
        :description="getFilteredDescription(category.description)"
      />
    </template>
    <template v-else-if="posts && posts.length">
      <GridViewItem
        v-for="(post, index) in posts"
        :key="post.slug"
        :to="`${post.category}/${post.slug}`"
        :style="`background-image: url(${post.thumbnailUrl});`"
        :class="isLargePreview(index) ? 'large' : 'small'"
        :title="getFilteredTitle(post.title)"
        :date="getDateUTC(post.dateCreated)"
        :description="getFilteredDescription(post.description)"
      />
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

import GridViewItem from "~/components/GridViewItem.vue";

@Component({ components: { GridViewItem } })
export default class extends Vue {
  @Prop({ required: false, type: Array }) categories;
  @Prop({ required: false, type: Array }) posts;

  largePreviews: number = 2;
  basePreview: number = 6;

  maxTitleLength: number = 34;
  maxDescriptionLength: number = 130;

  isLargePreview(index): boolean {
    return index % this.basePreview < this.largePreviews;
  }

  get apiHost() {
    return process.env.apiHost;
  }

  getFilteredTitle = title =>
    title.substring(0, this.maxTitleLength) +
    (title.length > this.maxTitleLength ? "..." : "");

  getDateUTC = date => new Date(date).toUTCString();

  getFilteredDescription = description =>
    description.substring(0, this.maxDescriptionLength) +
    (description.length > this.maxDescriptionLength ? "..." : "");
}
</script>

<style scoped lang="scss">
.browse-grid {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 64px;
}
@media screen and (min-width: $tablet) {
  .browse-grid .item {
    height: 308px;
    &.large,
    &.small {
      min-width: 50%;
      max-width: 50%;
    }
  }
}
@media screen and (min-width: $desktop) {
  .browse-grid .item {
    &.large {
      height: 312px;
      min-width: 50%;
      max-width: 50%;
    }
    &.small {
      height: 312px;
      min-width: 25%;
      max-width: 25%;
    }
  }
}
</style>
