<template>
  <nuxt-link :to="to" class="item">
    <div class="item-overlay">
      <h6>{{ title }}</h6>
      <p v-if="date" class="date">{{ date }}</p>
      <p v-if="description">
        {{ description }}
      </p>
    </div>
  </nuxt-link>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component
export default class extends Vue {
  @Prop({ required: true, type: String }) title;
  @Prop({ required: false, type: String }) date;
  @Prop({ required: false, type: String }) description;
  @Prop({ required: true, type: String }) to;
}
</script>

<style scoped lang="scss">
.item {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  text-decoration: none;
  color: white;
  height: 262px;
  min-width: 100%;
  max-width: 100%;
  &:hover {
    cursor: pointer;
    .item-overlay {
      background-color: rgba($color: #000000, $alpha: 0.75);
    }
  }
  .item-overlay {
    width: 100%;
    height: 100%;
    padding: 18px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    transition: background-color 0.25s;
  }
}
h6 {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: capitalize;
}
.small h6 {
  font-size: 1.25rem;
}
.date {
  font-size: 0.8rem;
  opacity: 0.8;
}
p {
  font-size: 1.25rem;
  margin-top: 12px;
}
h6,
p {
  word-break: break-word;
}
</style>
