<template>
  <nav class="d-sm-none" :class="toggle ? 'toggle' : ''">
    <ul>
      <template v-for="navLink in navLinks">
        <li
          :key="navLink.title"
          v-if="
            navLink.auth == null ||
              (!navLink.auth && !authUser) ||
              (navLink.auth && authUser)
          "
          class="site-link"
        >
          <nuxt-link
            :to="navLink.href"
            @click.native="$emit('toggle-mobile-nav')"
            class="underline-active"
          >
            {{ navLink.title }}
          </nuxt-link>
        </li>
      </template>
    </ul>
  </nav>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

import { navLinks } from "~/lib/navigation";

@Component
export default class extends Vue {
  @Prop({ required: true, type: Boolean }) toggle;
  get authUser() {
    return this.$store.state.auth.user;
  }
  get navLinks() {
    return navLinks;
  }
}
</script>

<style scoped lang="scss">
nav {
  position: fixed;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  top: $top-bar-height;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $blue-2;
  transition: opacity 0.4s;
  &.toggle {
    opacity: 1;
    pointer-events: initial;
  }
}
ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 32px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  max-height: 80vh;
  font-size: 1.5rem;
  li {
    margin-top: 1.5em;
  }
}
a {
  text-decoration: none;
  color: white;
}
</style>
