<template>
  <section>
    <div class="upper-buttons-wrapper" v-if="showUpperButtons">
      <nuxt-link
        :to="`/${$route.params.category}`"
        aria-label="back to browse"
        class="browse-btn"
      ></nuxt-link>
      <div>
        <nuxt-link
          v-if="canEdit"
          :to="{
            name: 'post',
            params: { slug, category: $route.params.category }
          }"
          class="edit-btn"
          >Edit</nuxt-link
        >
      </div>
    </div>
    <div class="upper-meta-wrapper">
      <div class="left-content">
        <h1>{{ title }}</h1>
        <p>By {{ author }}</p>
        <p>{{ date }}</p>
      </div>
      <div class="right-content">
        <Share :path="path" />
      </div>
    </div>
    <article v-html="body"></article>
    <Share :path="path" />
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

import Share from "~/components/Share.vue";

@Component({ components: { Share } })
export default class extends Vue {
  @Prop({ required: true, type: String }) title;
  @Prop({ required: true, type: String }) author;
  @Prop({ required: true, type: String }) date;
  @Prop({ required: true, type: String }) body;
  @Prop({ required: false, type: String }) slug;
  @Prop({ required: true, type: Boolean }) canEdit;
  @Prop({ required: false, type: Boolean, default: true }) showUpperButtons;

  get path() {
    return this.slug
      ? `/${this.$route.params.category}/${this.slug}`
      : "/post-not-created";
  }
}
</script>

<style scoped lang="scss">
section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.upper-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div > button {
    width: 150px;
    height: 56px;
    font-weight: normal;
  }
}
.browse-btn {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: transparent;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("/images/icons/arrow_left.svg") no-repeat center;
  }
}
.edit-btn {
  display: block;
  background-color: $blue-1;
  width: 140px;
  padding: 18px 0;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}
h1 {
  word-break: break-all;
  font-size: 2.25rem;
  margin-right: 1em;
  ~ p {
    font-size: 1.5rem;
    margin: 4px 0 8px 0;
    ~ p {
      font-size: 1rem;
      opacity: 0.8;
    }
  }
}
.upper-meta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: wrap;
  margin-top: 32px;
  .right-content {
    margin-top: 6px;
  }
}
article {
  margin: 32px 0;
  word-break: break-word;
}
</style>
