<template>
  <div>
    <section>
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        placeholder="Title"
        v-model="syncedTitle"
      />
      <label for="description">Description</label>
      <input
        type="text"
        name="description"
        placeholder="Description"
        v-model="syncedDescription"
      />
      <label for="category">Category</label>
      <select name="category" v-model="syncedCategory">
        <option
          v-for="category in categories"
          :key="category.title"
          :value="category.title"
          >{{ category.title }}</option
        >
      </select>
      <label for="thumbnail">Thumbnail URL</label>
      <input
        type="text"
        name="thumbnail"
        placeholder="URL to image"
        v-model="syncedThumbnail"
      />
      <label for="body">Body</label>
      <div class="markdown-editor-wrapper">
        <client-only>
          <MarkdownEditor
            :initialValue="syncedBody"
            :options="editorOptions"
            height="500px"
            initialEditType="markdown"
            previewStyle="none"
            @change="onEditorChange"
            ref="markdownEditor"
          />
        </client-only>
      </div>
      <ul v-if="errorMessages">
        <li v-for="message in errorMessages" :key="message">
          {{ message }}
        </li>
      </ul>
      <button @click="createPost" :class="loading ? 'loading' : ''">
        {{ isUpdating ? "Update" : "Create" }}
      </button>
      <div class="success-wrapper" v-show="postUrl">
        <p>Post {{ isUpdating ? "updated" : "created" }} successfully!</p>
        <nuxt-link :to="postUrl">View it <u>here</u></nuxt-link>
      </div>
    </section>
    <section>
      <Post
        :title="syncedTitle"
        :author="author"
        :date="date"
        :body="previewBody"
        :canEdit="false"
        :showUpperButtons="false"
      />
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, PropSync } from "nuxt-property-decorator";

import Post from "~/components/Post.vue";

import marked from "marked";

@Component({ components: { Post } })
export default class extends Vue {
  @Prop({ required: true, type: Array }) categories;
  @PropSync("title", { required: true, type: String }) syncedTitle;
  @PropSync("description", { required: true, type: String }) syncedDescription;
  @PropSync("category", { required: true, type: String }) syncedCategory;
  @PropSync("thumbnail", { required: true, type: String }) syncedThumbnail;
  @PropSync("body", { required: true, type: String }) syncedBody;
  @Prop({ required: true, type: String }) slug;
  @Prop({ required: true, type: Boolean }) isUpdating;

  previewBody: string = ""; // syncedBody converted to html
  loading: boolean = false;
  errorMessages: String[] = [];
  postUrl: string = "";

  editorOptions = {
    language: "en-US",
    useDefaultHTMLSanitizer: false,
    usageStatistics: false,
    toolbarItems: [
      "heading",
      "bold",
      "italic",
      "strike",
      "divider",
      "hr",
      "quote",
      "divider",
      "ul",
      "ol",
      "task",
      "indent",
      "outdent",
      "divider",
      "table",
      "link",
      "divider",
      "code",
      "codeblock"
    ]
  };

  get author() {
    return this.$store.state.auth.user.username;
  }

  get date() {
    return new Date().toUTCString();
  }

  onEditorChange() {
    const mdBody = (this.$refs.markdownEditor as any).invoke("getMarkdown");
    this.syncedBody = mdBody;
    this.previewBody = marked(mdBody);
  }

  async createPost() {
    this.loading = true;
    this.errorMessages = [];

    let response;
    if (this.isUpdating) {
      response = await fetch(`${process.env.apiHost}/posts/update`, {
        method: "POST",
        mode: "cors",
        credentials: "include",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          title: this.syncedTitle,
          category: this.syncedCategory,
          description: this.syncedDescription,
          body: this.syncedBody,
          thumbnailUrl: this.syncedThumbnail,
          slug: this.slug
        })
      });
    } else {
      response = await fetch(`${process.env.apiHost}/posts/create`, {
        method: "POST",
        mode: "cors",
        credentials: "include",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          title: this.syncedTitle,
          category: this.syncedCategory,
          description: this.syncedDescription,
          body: this.syncedBody,
          thumbnailUrl: this.syncedThumbnail
        })
      });
    }

    const responseJson = await response.json();

    if (response.status !== 200) {
      this.errorMessages = responseJson;
    } else {
      if (this.isUpdating) this.$emit("has-updated");
      else {
        this.$store.commit("posts/appendNewPost", responseJson.post);
        this.$store.commit("posts/appendOldPost", responseJson.post);
      }
      this.postUrl = responseJson.url;
      this.resetFields();
    }

    this.loading = false;
  }

  resetFields(): void {
    this.syncedTitle = "";
    this.syncedDescription = "";
    this.syncedCategory = "";
    this.syncedThumbnail = "";
    this.syncedBody = "";
    (this.$refs.markdownEditor as any).invoke("reset");
  }
}
</script>

<style scoped lang="scss">
section {
  display: flex;
  flex-flow: column;
  color: black;
}
label,
input,
button {
  width: 100%;
}
label {
  margin-bottom: 12px;
  font-size: 1.5rem;
  font-weight: bold;
}
input,
select,
.markdown-editor-wrapper,
ul {
  margin-bottom: 24px;
}
input,
select {
  font-size: 1.25rem;
  font-family: inherit;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}
.markdown-editor-wrapper {
  height: 500px;
}
select {
  text-transform: capitalize;
}
ul {
  border-left: 2px solid $red-1;
}
li {
  color: $red-1;
  font-size: 1.25rem;
  &:not(:last-of-type) {
    margin-bottom: 0.5em;
  }
}
button {
  height: 45px;
  font-weight: normal;
}
.success-wrapper {
  margin-top: 24px;
  text-align: center;
  * {
    color: $blue-1;
  }
  > p {
    font-size: 1.5rem;
    margin-bottom: 0.25em;
  }
  > a {
    font-size: 1.25rem;
    text-decoration: none;
  }
}
</style>
