<template>
  <ul>
    <li>
      <button aria-label="copy link" @click="copyLink"></button>
    </li>
    <li>
      <a
        :href="`https://www.facebook.com/sharer/sharer.php?u=${url}`"
        target="_blank"
        rel="noreferrer noopener"
        class="facebook"
      ></a>
    </li>
    <li>
      <a
        :href="`https://twitter.com/intent/tweet?url=${url}&text=`"
        target="_blank"
        rel="noreferrer noopener"
        class="twitter"
      ></a>
    </li>
    <li>
      <a
        :href="
          `https://www.linkedin.com/shareArticle?mini=true&url=${url}&title=&summary=&source=`
        "
        target="_blank"
        rel="noreferrer noopener"
        class="linkedin"
      ></a>
    </li>
    <li>
      <a
        :href="
          `https://pinterest.com/pin/create/button/?url=${url}&media=&description=`
        "
        target="_blank"
        rel="noreferrer noopener"
        class="pinterest"
      ></a>
    </li>
  </ul>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

@Component
export default class extends Vue {
  @Prop({ required: true, type: String }) path;
  get url() {
    return process.env.baseURL + this.path;
  }
  copyLink() {
    const textarea = document.createElement("textarea");
    textarea.textContent = this.url;
    textarea.style.position = "fixed"; // Prevent scrolling to bottom of page in Microsoft Edge.
    document.body.appendChild(textarea);
    textarea.select();
    try {
      return document.execCommand("copy"); // Security exception may be thrown by some browsers.
    } catch (ex) {
      console.warn("Copy to clipboard failed.", ex);
      return false;
    } finally {
      document.body.removeChild(textarea);
    }
  }
}
</script>

<style scoped lang="scss">
ul {
  width: 218px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  background-color: #f0f0f0;
  padding: 8px 0;
}
button {
  background-color: transparent;
  background: url("/images/icons/copy_link.svg") no-repeat center;
}
button,
a {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.facebook {
  background-image: url("/images/icons/facebook.svg");
}
.twitter {
  background-image: url("/images/icons/twitter.svg");
}
.linkedin {
  background-image: url("/images/icons/linkedin.svg");
}
.pinterest {
  background-image: url("/images/icons/pinterest.svg");
}
</style>
