<template>
  <nav class="row">
    <div class="col-2 col-lg-3 col-xl-4"></div>
    <div class="col-20 col-lg-18 col-xl-16 nav-wrapper">
      <ul>
        <li>
          <nuxt-link
            to="/"
            @click.native="$emit('toggle-mobile-nav', false)"
            class="underline-active"
            >Blogger</nuxt-link
          >
        </li>
        <template v-for="navLink in navLinks">
          <li
            :key="navLink.title"
            v-if="
              navLink.auth == null ||
                (!navLink.auth && !authUser) ||
                (navLink.auth && authUser)
            "
            class="site-link"
          >
            <nuxt-link :to="navLink.href" class="underline-active">{{
              navLink.title
            }}</nuxt-link>
          </li>
        </template>
      </ul>
      <button
        class="d-sm-none"
        aria-label="open navigation"
        @click="$emit('toggle-mobile-nav')"
        :class="toggleBurger ? 'toggle' : ''"
      >
        <div></div>
        <div><div></div></div>
        <div></div>
      </button>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

import { navLinks } from "~/lib/navigation";

@Component
export default class extends Vue {
  @Prop({ required: true, type: Boolean }) toggleBurger;
  get authUser() {
    return this.$store.state.auth.user;
  }
  get navLinks() {
    return navLinks;
  }
}
</script>

<style scoped lang="scss">
nav,
ul,
.nav-wrapper {
  display: flex;
  align-items: center;
}
nav {
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: $top-bar-height;
  background-color: $blue-2;
}
ul {
  width: 100%;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  li {
    &:first-of-type {
      flex: 1;
    }
    &.site-link {
      margin-right: 2em;
    }
    &:not(:first-of-type) {
      display: none;
    }
  }
}
a {
  display: inline;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: $tablet) {
  ul li:not(:first-of-type) {
    display: initial;
  }
}
button {
  width: 50px;
  height: 25px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: transparent;
  div {
    width: 40px;
    height: 3px;
    background-color: white;
    transition: transform 0.25s;
    &:nth-child(2) {
      position: relative;
      > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
  &:focus {
    outline: none;
  }
}
button.toggle {
  div:nth-child(1),
  div:nth-child(3) {
    transform: scaleX(0);
  }
  div:nth-child(2) {
    transform: rotate(-45deg);
    > div {
      transform: rotate(90deg);
    }
  }
}
</style>
