<template>
  <div class="post-wrapper">
    <h6>{{ post.title }}</h6>
    <nuxt-link
      aria-label="edit post"
      class="edit-btn"
      :to="{
        name: 'post',
        params: { slug: post.slug, category: post.category }
      }"
    ></nuxt-link>
    <ButtonExecute
      :onConfirm="deletePost"
      buttonLabel="Delete post"
      confirmText="Del"
      width="64px"
    >
      <img src="/images/icons/delete.svg" alt="Delete" />
    </ButtonExecute>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";

import ButtonExecute from "~/components/ButtonExecute.vue";

@Component({ components: { ButtonExecute } })
export default class extends Vue {
  @Prop({ required: true }) post;
  async deletePost() {
    fetch(`${process.env.apiHost}/posts/delete?slug=${this.post.slug}`, {
      method: "DELETE",
      mode: "cors",
      credentials: "include"
    }).then(() => {
      this.$emit("post-deleted", this.post.slug);
      this.$store.commit("posts/removeNewPost", this.post);
      this.$store.commit("posts/removeOldPost", this.post);
    });
  }
}
</script>

<style scoped lang="scss">
$spacing: 18px;
.post-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  position: relative;
  > h6 {
    font-size: 1.25rem;
    flex: 1;
  }
}
button {
  width: 70px;
  height: 30px;
  border-radius: 4px;
}
.edit-btn {
  background-color: $blue-1;
  margin-right: 12px;
  &::after {
    background-image: url("/images/icons/edit.svg");
    top: 2px;
    bottom: 2px;
  }
}
.edit-btn {
  position: relative;
  width: 72px;
  height: 32px;
  border-radius: 4px;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
</style>
