<template>
  <section id="landing" class="row padding-top">
    <div class="col-2 col-lg-3 col-xl-4"></div>
    <div
      class="col-20 col-sm-13 col-md-12 col-lg-11 col-xl-9 landing-content-wrapper"
    >
      <h1>Publish a blog post here, for free</h1>
      <h2>
        The leading platform to publish whatever might be on your mind, free of
        charge.
      </h2>
      <nuxt-link to="/register" class="button">Get Started</nuxt-link>
      <ul>
        <li>
          <img src="/images/icons/checkmark.svg" alt="Checkmark" />
          <p>Free, forever</p>
        </li>
        <li>
          <img src="/images/icons/checkmark.svg" alt="Checkmark" />
          <p>Easy registration</p>
        </li>
        <li>
          <img src="/images/icons/checkmark.svg" alt="Checkmark" />
          <p>Easy posts</p>
        </li>
      </ul>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-1 col-xl-2"></div>
    <div class="d-none d-sm-block col-sm-7 col-md-7 col-lg-6 col-xl-5">
      <img
        src="/images/home/writing_page.svg"
        alt="Leaf pen writing on paper."
        width="100%"
        height="auto"
      />
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

@Component
export default class extends Vue {}
</script>

<style scoped lang="scss">
.landing-content-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  > * {
    margin-bottom: 36px;
  }
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
  opacity: 0.8;
}
ul,
li {
  display: flex;
}
ul {
  list-style-type: none;
  padding: 0;
  flex-flow: column;
  min-width: 100%;
  li {
    margin-bottom: 16px;
    > img {
      width: unset;
      margin-right: 8px;
    }
  }
}
@media screen and (min-width: $tablet) {
  ul {
    flex-flow: row;
    li {
      margin-bottom: 0;
      &:not(:first-of-type) {
        margin-left: 36px;
      }
    }
  }
}
@media screen and (min-width: $wide) {
  h1 {
    font-size: 3.25rem;
  }
}
</style>
