<template>
  <section id="meet" class="row">
    <div class="container row">
      <!-- Begin text -->
      <div class="col-1 col-sm-2 col-lg-4 col-xl-7"></div>
      <div class="col-22 col-sm-20 col-lg-16 col-xl-10 text-content-wrapper">
        <p>MEET THIS PLATFORM</p>
        <h3>Enjoy an easy to use system</h3>
        <p>
          Write fast. Publish easy. All for free. Grow your business by writing
          posts and grow like a nice palm tree.
        </p>
      </div>
      <div class="col-1 col-sm-2 col-lg-4 col-xl-7"></div>
      <!-- End text -->
      <!-- Begin people -->
      <div class="col-5 col-sm-2 col-lg-3 col-xl-5"></div>
      <div class="col-14 col-sm-6 col-xl-4">
        <figure>
          <img
            src="/images/home/person1.jpg"
            alt="Person in hoodie, smiling."
          />
          <figcaption>
            Made for <br />
            <span><strong>Publishers</strong></span>
          </figcaption>
        </figure>
      </div>
      <div class="col-5 col-sm-1 d-lg-none d-xl-block"></div>
      <div class="col-5 d-sm-none"></div>
      <div class="col-14 col-sm-6 col-xl-4">
        <figure class="middle">
          <img
            src="/images/home/person2.jpg"
            alt="Person in hoodie, smiling."
          />
          <figcaption>
            Made for <br />
            <span><strong>Entrepreneurs</strong></span>
          </figcaption>
        </figure>
      </div>
      <div class="col-5 col-sm-1 d-lg-none d-xl-block"></div>
      <div class="col-5 d-sm-none"></div>
      <div class="col-14 col-sm-6 col-xl-4">
        <figure>
          <img src="/images/home/person3.jpg" alt="Person laughing." />
          <figcaption>
            Made for <br />
            <span><strong>Developers</strong></span>
          </figcaption>
        </figure>
      </div>
      <!-- End people -->
      <div class="col-24 button-wrapper">
        <nuxt-link to="/register" class="button">Get Started</nuxt-link>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

@Component
export default class extends Vue {}
</script>

<style scoped lang="scss">
section {
  position: relative;
  margin-top: 128px;
  width: 100%;
  background-color: white;
  &::before {
    content: "";
    background: url("/images/home/bubble_separator.svg") no-repeat center;
    width: 100%;
    height: 48px;
    position: absolute;
    top: -46px;
    left: 0;
    right: 0;
  }
}
.text-content-wrapper {
  text-align: center;
  margin-bottom: 64px;
  > p {
    &:first-child {
      font-size: 1rem;
    }
    font-size: 1.5rem;
    opacity: 0.7;
    margin: 24px 0;
  }
}
h3 {
  font-weight: bold;
  font-size: 2.25rem;
}
figure {
  position: relative;
  width: 100%;
  height: 228px;
  &.middle {
    margin: 32px 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  figcaption {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    strong {
      font-size: 1.5rem;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}
.button-wrapper {
  margin: 128px 0;
  > a {
    margin: auto;
  }
}
@media screen and (min-width: $tablet) {
  section {
    margin-top: 12%;
  }
  figure.middle {
    margin: 0;
  }
}
</style>
