@import "./grid.scss";

html {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-width: $mobile;
  background-color: $body-bg;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.padding-top {
  padding-top: 128px;
  @media screen and (min-width: $wide) {
    padding-top: 184px;
  }
}

.padding-bottom {
  padding-bottom: 64px;
  @media screen and (min-width: $wide) {
    padding-bottom: 78px;
  }
}

.center-all-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p {
  font-size: 1.125rem;
}

input {
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
}

a {
  color: white;
  text-decoration: none;
}

a.button,
button {
  display: block;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: bold;
  color: white;
  background-color: $blue-1;
  width: 160px;
  height: 72px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &.loading {
    font-size: 0 !important;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 30px;
      margin: auto;
      border-radius: 50%;
      border-width: 2px;
      border-color: white white white transparent;
      border-style: solid;
      animation: load forwards infinite linear 2s;
    }
  }
}

button {
  position: relative;
  opacity: 0.5;
  border: none;
  cursor: not-allowed;
  &:enabled {
    opacity: 1;
    cursor: pointer;
  }
}

@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

br {
  content: "";
  display: block;
  height: 0.25rem;
  ~ br {
    height: 0.75rem;
  }
}

.underline-active {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -6px;
    left: 0;
    background-color: white;
    height: 2px;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: transform 0.25s;
  }
}
.underline-active.nuxt-link-exact-active {
  &::after {
    transform: scaleX(1);
  }
}

///* Images */

// Prevent page from jumping while loading images

/* Example HTML:

// Padding top is set according to
    (img.height / img.width) * 100

    img.height or img.width can be any. It's just the aspect ratio calculation

<div class="image-wrapper">
  <div style="padding-top: 146.8%;"></div>
  <img
    src="/images/home/green_bulb.svg"
    alt="Drawn out green lightbulb"
    width="100%" height="auto"
  >
</div>
*/

img {
  width: 100%;
  height: auto;
}

.image-wrapper {
  position: relative;
  width: 100%;
  &:before,
  &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulse 2s forwards infinite;
  }
  &:before {
    top: calc(50% - 9px);
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: white;
    animation-delay: 0.25s;
    z-index: 1;
  }
  &:after {
    top: calc(50% - 14px);
    left: calc(50% - 14px);
    width: 28px;
    height: 28px;
    background-color: white;
    z-index: 0;
  }
  > img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

// End prevent page from jumping

// Markdown editor

.tui-editor-defaultUI {
  display: flex;
  flex-flow: column;
}
.te-editor-section {
  flex: 1;
  height: 100%;
  padding: 0 18px;
}
.CodeMirror-sizer {
  border-right-width: 0;
  padding-right: 0;
}
.CodeMirror-scroll {
  margin-right: 0;
  overflow: scroll auto !important;
}
.CodeMirror-line span {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  max-width: 100%;
  white-space: normal;
  word-break: break-all;
}
.CodeMirror-selected {
  background: rgba($color: #000000, $alpha: 0.1) !important;
}
.tui-editor {
  left: 0;
}
.te-editor-section,
.tui-editor {
  padding: 0 32px;
}
.te-mode-switch-section {
  display: none !important;
}
