$blue-1: #0094ff;
$blue-2: #2c404f;

$red-1: #da0000;

$body-bg: #1d2934;

$top-bar-height: 72px;
$top-bar-shrink: 12px;

$side-nav-size: 220px;
$slide-speed: 0.4s;

// Grid

$mobile: 320px;
$tablet: 720px;
$desktop: 900px;
$wide: 1280px;
$maxContentWidth: 1920px;

$grid-breakpoints: (
  xs: 0,
  sm: $tablet,
  md: $desktop,
  lg: $wide,
  xl: $maxContentWidth
);

$grid-columns: 24;
$grid-gutter-width: 4px;

$container-max-widths: (
  xs: $tablet - 1px,
  sm: $tablet,
  md: $desktop,
  lg: $wide,
  xl: $maxContentWidth
);
