<template>
  <div>
    <TopBar
      @toggle-mobile-nav="onToggleMobileNav"
      :toggleBurger="toggleMobileNav"
    />
    <MobileNav
      @toggle-mobile-nav="onToggleMobileNav"
      :toggle="toggleMobileNav"
    />
    <Nuxt />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

import TopBar from "~/components/TopBar.vue";
import MobileNav from "~/components/MobileNav.vue";

@Component({ components: { TopBar, MobileNav } })
export default class extends Vue {
  toggleMobileNav: boolean = false;

  onToggleMobileNav(value): void {
    if (typeof value === "boolean") {
      this.toggleMobileNav = !!value;
      return;
    }
    this.toggleMobileNav = !this.toggleMobileNav;
  }
}
</script>
