<template>
  <main class="padding-top padding-bottom">
    <Post
      :title="post.title"
      :author="author"
      :date="date"
      :body="post.body"
      :slug="post.slug"
      :canEdit="showEditButton"
    />
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import marked from "marked";

import { getCategoryPost } from "~/lib/posts";

import Post from "~/components/Post.vue";

@Component({ components: { Post } })
export default class extends Vue {
  post!: any;
  author!: string;
  showEditButton!: boolean;

  async asyncData({ params, store, error }) {
    try {
      const responseJson = await getCategoryPost(params.category, params.post);

      const showEditButton = !!(
        store.state.auth.user &&
        store.state.auth.user._id === responseJson.post.authorId
      );

      const post = responseJson.post;
      post.body = marked(post.body);

      return {
        post,
        author: responseJson.author,
        showEditButton
      };
    } catch (err) {
      error({ statusCode: 404, message: "Post not found." });
    }
  }

  get date() {
    return new Date(this.post.dateCreated).toUTCString();
  }

  head() {
    const title = this.post.title + " by " + this.author;
    const description = this.post.title + " - " + this.post.description;
    return {
      title,
      meta: [
        {
          name: "og:title",
          hid: "og:title",
          content: title
        },
        {
          name: "twitter:title",
          hid: "twitter:title",
          content: title
        },
        {
          name: "apple-mobile-web-app-title",
          hid: "apple-mobile-web-app-title",
          content: title
        },
        {
          name: "description",
          hid: "description",
          content: description
        },
        {
          name: "og:description",
          hid: "og:description",
          content: description
        },
        {
          name: "twitter:description",
          hid: "twitter:description",
          content: description
        }
      ]
    };
  }
}
</script>

<style scoped lang="scss">
main {
  background-color: white;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
}
</style>
