<template>
  <main class="container row padding-top">
    <div class="col-2 col-lg-3 col-xl-6"></div>
    <div class="col-20 col-lg-18 col-xl-12 browse-content-wrapper">
      <h1>What interests you?</h1>
      <GridView :categories="categories" />
    </div>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

import GridView from "~/components/GridView.vue";

import { getCategories } from "~/lib/posts";

@Component({ components: { GridView } })
export default class extends Vue {
  async asyncData({ store }) {
    return { categories: store.state.posts.categories };
  }

  head() {
    const title = process.env.baseTitle + " - Browse";
    const description =
      process.env.baseTitle +
      " - browse all the categories of posts we have to offer.";
    return {
      title,
      meta: [
        {
          name: "og:title",
          hid: "og:title",
          content: title
        },
        {
          name: "twitter:title",
          hid: "twitter:title",
          content: title
        },
        {
          name: "apple-mobile-web-app-title",
          hid: "apple-mobile-web-app-title",
          content: title
        },
        {
          name: "description",
          hid: "description",
          content: description
        },
        {
          name: "og:description",
          hid: "og:description",
          content: description
        },
        {
          name: "twitter:description",
          hid: "twitter:description",
          content: description
        }
      ]
    };
  }
}
</script>

<style scoped lang="scss">
main {
  color: white;
  min-height: 100vh;
}
.browse-content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}
h1 {
  margin-bottom: 36px;
  font-weight: bold;
}
</style>
