<template>
  <main>
    <Landing />
    <Meet />
  </main>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

import Landing from "~/sections/Landing.vue";
import Meet from "~/sections/Meet.vue";

@Component({ components: { Landing, Meet } })
export default class extends Vue {
  head() {
    const title =
      process.env.baseTitle + " - Blog & Write About Anything For Free!";
    return {
      title,
      meta: [
        {
          name: "og:title",
          hid: "og:title",
          content: title
        },
        {
          name: "twitter:title",
          hid: "twitter:title",
          content: title
        },
        {
          name: "apple-mobile-web-app-title",
          hid: "apple-mobile-web-app-title",
          content: title
        }
      ]
    };
  }
}
</script>
