<template>
  <main class="center-all-content">
    <Form
      title="Login"
      submitText="Sign in"
      :onSubmit="login"
      alternateLinkText="Don't have an account? Sign up"
      alternateLink="/register"
    >
      <template slot="fields">
        <div class="input-wrapper">
          <img src="/images/icons/email.svg" alt="Email" />
          <input
            type="email"
            name="email"
            placeholder="Email Address"
            ref="email"
          />
        </div>
        <div class="input-wrapper">
          <img src="/images/icons/password.svg" alt="Password" />
          <input
            type="password"
            name="password"
            placeholder="Password"
            ref="password"
          />
        </div>
      </template>
      <template slot="after">
        <nuxt-link to="/reset-password">Forgot password</nuxt-link>
      </template>
    </Form>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

import Form from "~/components/Form.vue";

@Component({ components: { Form }, middleware: ["redirectIfAuth"] })
export default class extends Vue {
  async login() {
    const refs = this.$refs as any;
    return new Promise((resolve, reject) => {
      fetch(`${process.env.apiHost}/auth/login`, {
        method: "POST",
        mode: "cors",
        credentials: "include",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          email: refs.email.value,
          password: refs.password.value
        })
      })
        .then(async response => {
          const responseJson = await response.json();
          if (response.status === 200) {
            this.$store.commit("auth/setUser", responseJson);
            this.$router.push("/profile");
            resolve(response);
          } else {
            reject(responseJson);
          }
        })
        .catch(() => reject());
    });
  }

  head() {
    const title = process.env.baseTitle + " - Login";
    const description = process.env.baseTitle + " - Login Page";
    return {
      title,
      meta: [
        {
          name: "og:title",
          hid: "og:title",
          content: title
        },
        {
          name: "twitter:title",
          hid: "twitter:title",
          content: title
        },
        {
          name: "apple-mobile-web-app-title",
          hid: "apple-mobile-web-app-title",
          content: title
        },
        {
          name: "description",
          hid: "description",
          content: description
        },
        {
          name: "og:description",
          hid: "og:description",
          content: description
        },
        {
          name: "twitter:description",
          hid: "twitter:description",
          content: description
        }
      ]
    };
  }
}
</script>

<style scoped lang="scss">
a {
  text-align: center;
  font-size: 1rem;
}
</style>
