<template>
  <main class="padding-top padding-bottom">
    <div class="post-editor-wrapper">
      <PostEditor
        :categories="categories"
        :title="title"
        @update:title="value => (title = value)"
        :description="description"
        @update:description="value => (description = value)"
        :category="category"
        @update:category="value => (category = value)"
        :thumbnail="thumbnail"
        @update:thumbnail="value => (thumbnail = value)"
        :body="body"
        @update:body="value => (body = value)"
        :slug="slug"
        :isUpdating="isUpdating"
        @has-updated="isUpdating = false"
      />
    </div>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

import { getCategories, getCategoryPost } from "~/lib/posts";

import PostEditor from "~/components/PostEditor.vue";
import Post from "~/components/Post.vue";

@Component({
  components: { Post, PostEditor },
  middleware: ["redirectIfNoAuth"]
})
export default class extends Vue {
  title!: string;
  description!: string;
  category!: string;
  thumbnail!: string;
  body!: string;
  slug!: string;
  isUpdating!: boolean;

  async asyncData({ store, params }) {
    const categories = store.state.posts.categories;

    let post: any = {};
    try {
      const { category, slug } = params;
      if (!category || !slug) throw Error();

      const responseJson = await getCategoryPost(params.category, params.slug);
      post = responseJson.post;
    } catch (error) {}

    return {
      categories,
      title: post.title || "",
      description: post.description || "",
      category: post.category || "",
      thumbnail: post.thumbnailUrl || "",
      body: post.body || "",
      slug: post.slug || "",
      isUpdating: !!post.title
    };
  }

  head() {
    const title = process.env.baseTitle + " - Create a Post";
    const description =
      process.env.baseTitle + " - create a post about anything for free!";
    return {
      title,
      meta: [
        {
          name: "og:title",
          hid: "og:title",
          content: title
        },
        {
          name: "twitter:title",
          hid: "twitter:title",
          content: title
        },
        {
          name: "apple-mobile-web-app-title",
          hid: "apple-mobile-web-app-title",
          content: title
        },
        {
          name: "description",
          hid: "description",
          content: description
        },
        {
          name: "og:description",
          hid: "og:description",
          content: description
        },
        {
          name: "twitter:description",
          hid: "twitter:description",
          content: description
        }
      ]
    };
  }
}
</script>

<style scoped lang="scss">
main {
  background-color: white;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
}
.post-editor-wrapper {
  max-width: 632px;
  margin: 0 auto;
}
</style>
