<template>
  <main class="row container padding-top">
    <div class="col-2 col-sm-5 col-md-7 col-lg-3 col-xl-5"></div>
    <div class="col-20 col-sm-14 col-md-10 col-lg-7 col-xl-5 flex-container">
      <div class="upper-text-wrapper">
        <h1>Hi, {{ inputUsername }}!</h1>
        <button
          class="logout-btn"
          :class="isLoggingOut ? 'loading' : ''"
          @click="logout"
        >
          Logout
        </button>
      </div>
      <label for="username">Your username:</label>
      <input
        type="text"
        name="username"
        v-model="inputUsername"
        @input="onUsernameChange"
      />
      <button
        @click="updateUsername"
        :disabled="!hasChangedUsername"
        :class="isLoading ? 'loading' : ''"
      >
        Save
      </button>
      <p v-if="updateUsernameError">{{ updateUsernameError }}</p>
      <nuxt-link to="/reset-password" class="reset-password"
        >Reset password</nuxt-link
      >
      <ButtonExecute
        :onConfirm="deleteAccount"
        buttonLabel="Delete account"
        confirmText="Del"
        width="156px"
        height="54px"
        margin="32px 0"
        :isLoading="isDeletingAccount"
      >
        Delete Account
      </ButtonExecute>
    </div>
    <div class="col-2 col-sm-5 col-md-7 col-lg-3 col-xl-4"></div>
    <div class="col-2 col-sm-5 col-md-7 d-lg-none"></div>
    <div
      class="col-20 col-sm-14 col-md-10 col-lg-8 col-xl-5 flex-container posts-wrapper"
      v-if="posts"
    >
      <h2>Your posts:</h2>
      <template v-for="post in posts">
        <YourPost
          :key="post.slug"
          :post="post"
          @post-deleted="locallyDeletePost"
        />
      </template>
      <!-- <button>Load More</button> -->
    </div>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

import { relayResCookiesToClient } from "~/lib/auth";

import YourPost from "~/components/YourPost.vue";
import ButtonExecute from "~/components/ButtonExecute.vue";

@Component({
  components: { YourPost, ButtonExecute },
  middleware: ["redirectIfNoAuth"]
})
export default class extends Vue {
  inputUsername!: string;
  posts!: any;

  hasChangedUsername: boolean = false;
  isLoading: boolean = false;
  updateUsernameError: string = "";

  isDeletingAccount: boolean = false;

  async asyncData({ store, req, res }) {
    const response = await fetch(
      `${process.env.apiHost}/posts/getUserPosts?id=${store.state.auth.user._id}`,
      {
        method: "GET",
        mode: "cors",
        headers: {
          "Content-Type": "application/json"
        }
      }
    );

    const postsJson = await response.json();

    return {
      inputUsername: store.state.auth.user.username,
      posts: postsJson
    };
  }

  locallyDeletePost(slug): void {
    this.posts = this.posts.filter(post => post.slug !== slug);
  }

  onUsernameChange(): void {
    this.hasChangedUsername = true;
  }

  async updateUsername() {
    if (this.isLoading) return;
    this.isLoading = true;
    this.updateUsernameError = "";

    const newUsername = this.inputUsername;
    const response = await fetch(`${process.env.apiHost}/auth/updateUsername`, {
      method: "POST",
      credentials: "include",
      mode: "cors",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ newUsername })
    });

    if (response.status !== 200) {
      const responseJson = await response.json();
      this.updateUsernameError = responseJson[0];
      this.inputUsername = this.$store.state.auth.user.username;
    } else {
      let updatedUser = Object.assign({}, this.$store.state.auth.user);
      updatedUser.username = newUsername;
      this.$store.commit("auth/setUser", updatedUser);
    }

    this.isLoading = false;
    this.hasChangedUsername = false;
  }

  isLoggingOut: boolean = false;
  async logout() {
    if (this.isLoggingOut) return;
    this.isLoggingOut = true;

    const response = await fetch(`${process.env.apiHost}/auth/logout`, {
      method: "POST",
      credentials: "include",
      mode: "cors"
    });

    if (response.status != 200) return;

    this.$store.commit("auth/setUser", null);
    this.$router.push("/login");
    this.isLoggingOut = false;
  }

  deleteAccount() {
    if (this.isDeletingAccount) return;

    this.isDeletingAccount = true;
    fetch(`${process.env.apiHost}/auth/deleteAccount`, {
      method: "DELETE",
      credentials: "include",
      mode: "cors"
    })
      .then(() => this.$router.push("/register"))
      .catch(() => (this.isDeletingAccount = false));
  }

  head() {
    const title = process.env.baseTitle + " - Your Profile";
    const description = process.env.baseTitle + " - Profile Page";
    return {
      title,
      meta: [
        {
          name: "og:title",
          hid: "og:title",
          content: title
        },
        {
          name: "twitter:title",
          hid: "twitter:title",
          content: title
        },
        {
          name: "apple-mobile-web-app-title",
          hid: "apple-mobile-web-app-title",
          content: title
        },
        {
          name: "description",
          hid: "description",
          content: description
        },
        {
          name: "og:description",
          hid: "og:description",
          content: description
        },
        {
          name: "twitter:description",
          hid: "twitter:description",
          content: description
        }
      ]
    };
  }
}
</script>

<style scoped lang="scss">
$spacing: 18px;
.flex-container {
  display: flex;
  flex-flow: column;
  color: white;
}
.upper-text-wrapper {
  display: flex;
  flex-flow: column;
  > h1 {
    flex: 1;
  }
  > button {
    margin-top: $spacing;
  }
}
label {
  margin-bottom: $spacing;
  font-size: 1.25rem;
}
input {
  background-color: transparent;
  border: 1px solid white;
  padding: 12px;
  color: white;
  margin-bottom: $spacing;
}
button {
  width: 102px;
  height: 46px;
  font-size: 1rem;
  ~ p {
    margin-top: 16px;
  }
}
.posts-wrapper {
  max-height: 50vh;
  margin-top: 64px;
  overflow-y: auto;
  overflow-x: hidden;
}
h1,
h2 {
  font-size: 2rem;
}
.upper-text-wrapper,
h2 {
  margin-bottom: 64px;
}
input,
button {
  border-radius: 4px;
}
.reset-password {
  font-size: 1.25rem;
  margin-top: 128px;
}
@media screen and (min-width: $tablet) {
  .upper-text-wrapper {
    flex-flow: row;
    > button {
      margin-top: 0;
    }
  }
}
@media screen and (min-width: $wide) {
  .posts-wrapper {
    margin-top: 0;
  }
}
</style>
