<template>
  <main class="center-all-content">
    <Form
      title="Sign up"
      submitText="Sign up"
      :onSubmit="register"
      alternateLinkText="Already have an account? Login"
      alternateLink="/login"
    >
      <template slot="fields"
        ><div class="input-wrapper">
          <img src="/images/icons/email.svg" alt="Email" />
          <input
            type="email"
            name="email"
            placeholder="Email Address"
            ref="email"
          />
        </div>
        <div class="input-wrapper">
          <img src="/images/icons/password.svg" alt="Password" />
          <input
            type="password"
            name="password"
            placeholder="Password"
            ref="password1"
          />
        </div>
        <div class="input-wrapper">
          <img
            src="/images/icons/password.svg"
            alt="Password"
            ref="password2"
          />
          <input
            type="password"
            name="password confirmation"
            placeholder="Re-enter Password"
            ref="password2"
          />
        </div>
        <div class="input-wrapper">
          <img src="/images/icons/user.svg" alt="User" />
          <input
            type="text"
            name="username"
            placeholder="Username"
            ref="username"
          /></div
      ></template>
    </Form>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

import Form from "~/components/Form.vue";

@Component({ components: { Form }, middleware: ["redirectIfAuth"] })
export default class extends Vue {
  async register() {
    const refs = this.$refs as any;
    return new Promise((resolve, reject) => {
      fetch(`${process.env.apiHost}/auth/register`, {
        method: "POST",
        mode: "cors",
        credentials: "include",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          email: refs.email.value,
          username: refs.username.value,
          password1: refs.password1.value,
          password2: refs.password2.value
        })
      })
        .then(async response => {
          const responseJson = await response.json();
          if (response.status === 200) {
            this.$store.commit("auth/setUser", responseJson);
            this.$router.push("/profile");
            resolve(response);
          } else {
            reject(responseJson);
          }
        })
        .catch(() => reject());
    });
  }

  head() {
    const title = process.env.baseTitle + " - Register";
    const description = process.env.baseTitle + " - Registration Page";
    return {
      title,
      meta: [
        {
          name: "og:title",
          hid: "og:title",
          content: title
        },
        {
          name: "twitter:title",
          hid: "twitter:title",
          content: title
        },
        {
          name: "apple-mobile-web-app-title",
          hid: "apple-mobile-web-app-title",
          content: title
        },
        {
          name: "description",
          hid: "description",
          content: description
        },
        {
          name: "og:description",
          hid: "og:description",
          content: description
        },
        {
          name: "twitter:description",
          hid: "twitter:description",
          content: description
        }
      ]
    };
  }
}
</script>

<style scoped lang="scss">
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
</style>
