<template>
  <main class="container row padding-top">
    <div class="col-2 col-lg-3 col-xl-6"></div>
    <div class="col-20 col-lg-18 col-xl-12 browse-content-wrapper">
      <div class="upper-wrapper">
        <h1>{{ $route.params.category }}</h1>
        <select name="sort" v-model="sortOrder" v-if="posts.length > 1">
          <option value="desc" selected>New</option>
          <option value="asc">Old</option>
        </select>
      </div>
      <GridView :posts="posts" />
      <button
        v-if="canLoad"
        :class="isLoading ? 'loading' : ''"
        @click="loadPosts"
      >
        Load More
      </button>
      <nuxt-link v-else to="/post" class="button">
        Create
      </nuxt-link>
    </div>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

import GridView from "~/components/GridView.vue";

const loadLimit: number = 6;
/**
 * Returns number of new posts found
 */
const fetchPostsToStore = (
  sortOrder: SortOrder,
  category: string,
  store
): Promise<any> => {
  return new Promise(function(resolve, reject) {
    const postsInStore =
      sortOrder === SortOrder.New
        ? store.state.posts.newPosts[category]
        : store.state.posts.oldPosts[category];

    const startIndex = postsInStore.length;

    fetch(
      `${process.env.apiHost}/posts/getCategoryPosts?order=${sortOrder}&startIndex=${startIndex}&limit=${loadLimit}&category=${category}`,
      {
        method: "GET",
        mode: "cors"
      }
    )
      .then(async response => {
        if (response.status === 200) {
          const responseJson = await response.json();
          sortOrder === SortOrder.New
            ? store.commit("posts/appendNewPosts", {
                category,
                posts: responseJson
              })
            : store.commit("posts/appendOldPosts", {
                category,
                posts: responseJson
              });
          responseJson.startIndex = startIndex;
          resolve(responseJson.length);
        } else {
          reject(0);
        }
      })
      .catch(error => reject(0));
  });
};

enum SortOrder {
  New = "desc",
  Old = "asc"
}

@Component({ components: { GridView } })
export default class extends Vue {
  canLoadNew!: boolean;
  canLoadOld: boolean = true;
  isLoading: boolean = false;

  sortOrder: SortOrder = SortOrder.New;

  async asyncData({ store, params, error }) {
    try {
      const postsLoaded = await fetchPostsToStore(
        SortOrder.New,
        params.category,
        store
      );
      return {
        canLoadNew: postsLoaded === loadLimit
      };
    } catch (err) {
      error({ statusCode: 404, message: "This page does not exist." });
    }
  }

  created() {
    if (this.newPosts.length % loadLimit !== 0) this.canLoadNew = false;
    if (this.oldPosts.length % loadLimit !== 0) this.canLoadOld = false;
  }

  get posts() {
    // Old posts are not loaded right away. This loads them.
    if (this.oldPosts.length < 1 && this.sortOrder === SortOrder.Old)
      this.loadPosts();
    return this.sortOrder === SortOrder.New ? this.newPosts : this.oldPosts;
  }

  async loadPosts() {
    if (this.isLoading) return;
    this.isLoading = true;

    const postsLoaded = await fetchPostsToStore(
      this.sortOrder,
      this.$route.params.category,
      this.$store
    );

    const sortNew = this.sortOrder === SortOrder.New;
    if (postsLoaded % loadLimit !== 0) {
      sortNew ? (this.canLoadNew = false) : (this.canLoadOld = false);
    }

    this.isLoading = false;
  }

  get newPosts() {
    return this.$store.state.posts.newPosts[this.$route.params.category];
  }

  get oldPosts() {
    return this.$store.state.posts.oldPosts[this.$route.params.category];
  }

  get canLoad() {
    return this.sortOrder === SortOrder.New ? this.canLoadNew : this.canLoadOld;
  }

  head() {
    const title = process.env.baseTitle + " - " + this.$route.params.category;
    const description =
      process.env.baseTitle +
      " - posts created for the category: " +
      this.$route.params.category;
    return {
      title,
      meta: [
        {
          name: "og:title",
          hid: "og:title",
          content: title
        },
        {
          name: "twitter:title",
          hid: "twitter:title",
          content: title
        },
        {
          name: "apple-mobile-web-app-title",
          hid: "apple-mobile-web-app-title",
          content: title
        },
        {
          name: "description",
          hid: "description",
          content: description
        },
        {
          name: "og:description",
          hid: "og:description",
          content: description
        },
        {
          name: "twitter:description",
          hid: "twitter:description",
          content: description
        }
      ]
    };
  }
}
</script>

<style scoped lang="scss">
main {
  color: white;
  min-height: 100vh;
}
.upper-wrapper {
  display: flex;
  justify-content: space-between;
}
select {
  height: 40px;
  width: 120px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 1em 0 1em;
  background-color: $blue-1;
  color: white;
  border: 2px solid $blue-2;
  border-radius: 4px;
  transition: background-color 0.25s;
  &:hover {
    background-color: $blue-2;
  }
}
.browse-content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}
h1 {
  font-weight: bold;
  text-transform: capitalize;
}
button {
  font-size: 1.25rem;
  width: 128px;
  height: 68px;
  margin-bottom: 64px;
}
h1,
a {
  margin-bottom: 36px;
}
a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
</style>
